@import "colors";

.properties {
  display: grid;
  gap: 2rem;
  margin: 2rem;
  justify-content: center;

  .filter {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: start;

    .filter-actions {
      align-items: flex-end;
    }

    .price-sort {
      cursor: pointer;
    }

    .price-range {
      display: grid;
      gap: 0.5rem;

      label {
        color: $color-grey;
        font-size: 12px;
      }
    }

    ::ng-deep.reset > .button {
      width: 40px;
    }
  }

  .cards {
    display: grid;
    gap: 2rem;

    .card {
      position: relative;
      height: 100%;
      max-width: 400px;

      .info {
        .photo {
          height: 200px;
          width: 100%;
          object-fit: cover;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }

        .logo {
          position: absolute;
          height: 64px;
          padding: 1rem;
          object-fit: scale-down;
        }

        .content {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 2rem;

          .price {
            margin: 0;
          }

          .address,
          .extra {
            line-height: 3ch;
            color: $color-grey;
          }
        }

        .actions {
          height: 100%;
          align-items: center;
          justify-content: start;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .properties {
    margin: 4rem;

    .cards {
      .card {
        max-width: none;

        .info {
          display: flex;

          .photo {
            height: 300px;
            width: 500px;
            border-top-left-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 10px;
          }

          .content {
            width: 500px;

            .price {
              margin-top: 1rem;
            }
            .logo {
              padding-top: 1em;
              object-position: left;
            }
          }
        }
      }
    }
  }
}
