// base colors
$color-primary: #009cdb;
$color-black: #242424;
$color-grey: #444;

// colors
$color-dark-blue: #0079a8;
$color-darker-blue: #00425c;

$color-green: #68a42a;

// misc
$color-border: #ddd;
