@import "colors";

.button {
  display: flex;
  place-items: center;
  justify-content: center;
  padding: 8px;
  width: 88px;
  border-radius: 2px;
  color: white;
  background-color: $color-primary;
  font-size: 12px;

  -webkit-user-select: none;
  user-select: none;

  &:hover {
    cursor: pointer;
    filter: brightness(1.03);
  }
  &:active {
    filter: brightness(0.97);
  }

  // colors

  &.green {
    background-color: $color-green;
  }
}
