/* You can add global styles to this file, and also import other style files */
@import "colors";

:root {
  color: $color-black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;

  *,
  *:focus,
  *:hover {
    outline: none;
  }

  .mh-flex {
    display: flex;
    gap: 0.7rem;
  }

  .container {
    margin: 0 auto;
    max-width: 1280px !important;
    overflow: auto;
  }
}
