@import "colors";

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid $color-border;
}

@media (min-width: 1024px) {
  .card {
    flex-direction: row;
  }
}
